body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

/* containers */

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}


/* headings */
.big-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "montserrat";
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.navbar {
  padding: 0 0 4.5rem;
  width: 8px;
  margin: 20px 0;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
}

.navbar-items {
  margin-left: 350px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-size: 400;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* title */
#title .container-fluid {
  padding: 3% 15% 8%;
  text-align: left;
}

.title-image {
  height: 564px;
  width: 280px;
  transform: rotate(25deg);
  position: absolute;
}

/* features */
#features {
  position: relative;
  z-index: 1;
}

.features-box {
  text-align: center;
  padding: 4.5%;
}

.feature-title {
  font-size: 1.5rem;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* cta */
.cta-btn {
  margin: 7% 3%;
}

.icon-sm {
  margin: 20px 15px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}
